div {
  width: 60%;
  border: 1px solid gray;
  text-align: center;
  padding: 1em;
  margin: auto;
}

.hidden {
  display: none;
}
.visible {
  display: block;
}

#content {
  width: 40%;
  max-height: 70%;
}

#content img {
  max-height: 80%;
  max-width: 100%;
}